.question {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .singleQuestion {
    width: 95%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 5px solid grey;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
  }
  
  .singleOption {
    width: 46%;
    height: 50px;
    padding: 15px 20px;
    margin: 10px;
    box-shadow: 0 0 2px black;
  }
  
  @media (max-width: 614px) {
    .singleOption {
      width: 100%;
    }
  }
  
  .controls {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  .select {
    background-color: rgb(7, 207, 0);
    color: white;
    box-shadow: 0 0 1px black;
  }
  
  .wrong {
    background-color: rgb(233, 0, 0);
    color: white;
    box-shadow: 0 0 1px black;
  }
  .timer{
    color: #000102;
    background: #ffffff;
    height: 45px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 155px;
    border: 1px solid black;
    box-shadow: 4px 4px 2px black;
    padding: 5px 10px;
    margin-bottom: 15px;
}
.timer .time_left_txt{
  font-weight: 400;
  font-size: 17px;
  user-select: none;
}
.timer .timer_sec{
  font-size: 18px;
  font-weight: 500;
  height: 30px;
  width: 55px;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: #343a40;
  border: 1px solid #343a40;
  user-select: none;
}