
section#subscribe {
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0.1,0.1,0.1,0.6)),url(../photos/picture.webp);
    text-align: center;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
    font-family:  cursive;
  }
  
  